
*{
    margin: 0;
    padding: 0;
}

.about_value{
    width: 90%;
    height: auto;
    display: flex;
    margin-left: 50px;
    margin-top: 40px;
}
.about_content p,h1{
    color: white;
    margin-left: 20px;
}
body{
       background-color: rgba(30, 29, 66, 1);
}
.about_content ul li,a{
    display: inline;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
    text-decoration: underline;
}
.about_photo img{
    border-radius: 10px;
}
.link a{
    margin-top: 2%;
    text-decoration: underline;
}